# .env file
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# virtual environment
venv/
ENV/
env/
.venv/

# Django stuff:
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
db.sqlite3-journal
/media/
/static/
/staticfiles/

# Local settings (if applicable)
local_settings.py

# IDE and editor configurations
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Miscellaneous
*.DS_Store 